[Desktop Entry]
Type=Application
Name=Tomato
Exec=tomato
Icon=io.github.clagomess.Tomato
Terminal=false
Categories=Development;
StartupWMClass=com-github-clagomess-tomato-Main
