[Desktop Entry]
Version=0.0.4
Type=Application
Name=Tomato
Exec=tomato
Icon=tomato
Terminal=false
Categories=Development;Utility;
StartupWMClass=com-github-clagomess-tomato-Main
